header {
  border-bottom: 5px solid #777;
  padding-bottom: 25px;
  margin-bottom: 25px;
  overflow: auto;
  background: url('/assets/vertical-waves.png')
}

header h1 {
  margin: 0;
}

header h1 a,
header h1 a:visited,
header h1 a:hover {
  text-decoration: none;
  color: #000;
  background: none;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: left;
  width: 50%;
  text-align: right;
}
